Repository data61/anonlink-entity-service, pull requests merged in 2019-05, with the labels that each got.

#364 Addition of a rest api tutorial
  docs/tutorial/Record Linkage API.ipynb
  docs/tutorial/index.rst
Labels: docs

#366 Test project API for multiparty support
  backend/entityservice/tests/conftest.py
  backend/entityservice/tests/test_project.py
  backend/entityservice/tests/test_project_run_description.py
  backend/entityservice/tests/test_project_uploads.py
  backend/entityservice/tests/test_project_with_runs_deletes.py
  backend/entityservice/tests/test_results_correctness.py
  backend/entityservice/tests/util.py
Labels: integration tests, testing

#370 Test runs
  backend/entityservice/database/selections.py
  backend/entityservice/tests/conftest.py
  backend/entityservice/tests/test_project.py
  backend/entityservice/tests/test_project_run_description.py
  backend/entityservice/tests/test_project_run_results.py
  backend/entityservice/tests/test_project_run_status.py
  backend/entityservice/tests/test_project_with_runs_deletes.py
  backend/entityservice/tests/util.py
Labels: integration tests, testing

#371 Fail on invalid result_type/number_parties combination
  backend/entityservice/api_def/swagger.yaml
  backend/entityservice/models/project.py
  backend/entityservice/tests/conftest.py
  backend/entityservice/tests/test_project.py
  backend/entityservice/views/project.py
Labels: API, enhancement, testing

#373 Test multiparty project uploads
  backend/entityservice/tests/conftest.py
  backend/entityservice/tests/test_project.py
  backend/entityservice/tests/test_project_uploads.py
  backend/entityservice/tests/util.py
Labels: integration tests, testing

#374 Test multiparty results correctness
  backend/entityservice/tests/test_results_correctness_multiparty.py
  backend/entityservice/tests/testdata/test-multiparty-results-correctness-data.pkl
  backend/entityservice/tests/util.py
Labels: integration tests, testing
